<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>jdf widget</title>
<link type="text/css" rel="stylesheet"  href="http://misc.360buyimg.com/jdf/1.0.0/unit/??ui-base/1.0.0/ui-base.css,shortcut/2.0.0/shortcut.css,global-header/1.0.0/global-header.css,myjd/2.0.0/myjd.css,nav/2.0.0/nav.css,shoppingcart/2.0.0/shoppingcart.css,global-footer/1.0.0/global-footer.css,service/1.0.0/service.css,basePatch/1.0.0/basePatch.css"/>
<script type="text/javascript">window.pageConfig = {compatible: true}</script>
<script type="text/javascript" src="http://misc.360buyimg.com/jdf/1.0.0/unit/base/1.0.0/base.js"></script>

</head>

<div id="shortcut-2014">
	<div class="w">
    	<ul class="fl">
    		<li class="dorpdown" id="ttbar-mycity"></li>
    	</ul>
    	<ul class="fr">
			<li class="fore1" id="ttbar-login">
				<a target="_blank" href="javascript:login();" class="link-login">你好，请登录</a>&nbsp;&nbsp;<a href="javascript:regist();" class="link-regist style-red">免费注册</a>
			</li>
			<li class="spacer"></li>
			<li class="fore2">
				<div class="dt">
					<a target="_blank" href="http://order.jd.com/center/list.action">我的订单</a>
				</div>
			</li>
			<li class="spacer"></li>
			<li class="fore3 dorpdown" id="ttbar-myjd">
				<div class="dt cw-icon">
					<i class="ci-right"><s>◇</s></i>
					<a target="_blank" href="http://home.jd.com/">我的京东</a>
				</div>
				<div class="dd dorpdown-layer"></div>
			</li>
			<li class="spacer"></li>
			<li class="fore4">
				<div class="dt">
					<a target="_blank" href="http://vip.jd.com/">京东会员</a>
				</div>
			</li>
			<li class="spacer"></li>
			<li class="fore5">
				<div class="dt">
					<a target="_blank" href="http://b.jd.com/">企业频道</a>
				</div>
			</li>
			<li class="spacer"></li>
			<li class="fore6 dorpdown" id="ttbar-apps">
				<div class="dt cw-icon">
					<i class="ci-left"></i>
					<i class="ci-right"><s>◇</s></i>
					<a target="_blank" href="http://app.jd.com/">手机京东</a>
				</div>
			</li>
			<li class="spacer"></li>
			<li class="fore7 dorpdown" id="ttbar-atte">
				<div class="dt cw-icon">
					<i class="ci-right"><s>◇</s></i>关注京东
				</div>
			</li>
			<li class="spacer"></li>
			<li class="fore8 dorpdown" id="ttbar-serv">
				<div class="dt cw-icon">
					<i class="ci-right"><s>◇</s></i>客户服务
				</div>
				<div class="dd dorpdown-layer"></div>
			</li>
			<li class="spacer"></li>
			<li class="fore9 dorpdown" id="ttbar-navs">
				<div class="dt cw-icon">
					<i class="ci-right"><s>◇</s></i>网站导航
				</div>
				<div class="dd dorpdown-layer"></div>
			</li>
    	</ul>
		<span class="clr"></span>
    </div>
</div>

<div class="w">
    <div id="logo-2014">
    	<a href="http://www.jd.com/" class="logo">京东</a>
    </div>
    <div id="search-2014" >
		<ul id="shelper" class="hide"></ul>
		<div class="form">
			<input type="text" onkeydown="javascript:if(event.keyCode==13) search('key');" autocomplete="off" id="key" accesskey="s" class="text" />
			<button onclick="search('key');return false;" class="button cw-icon"><i></i>搜索</button>
		</div>
    </div>
    <div id="settleup-2014" class="dorpdown">
		<div class="cw-icon">
			<i class="ci-left"></i>
			<i class="ci-right">&gt;</i>
			<a target="_blank" href="http://cart.jd.com/cart/cart.html">我的购物车</a>
		</div>
		<div class="dorpdown-layer">
			<div class="spacer"></div>
			<div id="settleup-content">
				<span class="loading"></span>
			</div>
		</div>
	</div>
    <div id="hotwords-2014"></div>
    <span class="clr"></span>
</div>

<div id="nav-2014">
    <div class="w">
        <div class="w-spacer"></div>
		<div id="categorys-2014" class="dorpdown" data-type="default">
			<div class="dt">
				<a target="_blank" href="http://www.jd.com/allSort.aspx">全部商品分类</a>
			</div>
		</div>
		<div id="navitems-2014">
			<ul id="navitems-group1">
				<li id="nav-fashion" class="fore1" >
					<a target="_blank" href="http://channel.jd.com/fashion.html">服装城</a>
				</li>
				<li id="nav-beauty" class="fore2" >
					<a target="_blank" href="http://channel.jd.com/beauty.html">美妆馆</a>
				</li>
				<li id="nav-chaoshi" class="fore3" >
					<a target="_blank" href="http://channel.jd.com/chaoshi.html">食品</a>
				</li>
				<li id="nav-decoration" class="fore4" >
					<a target="_blank" href="http://channel.jd.com/jiazhuang.html">家装城</a>
				</li>
			</ul>
			<div class="spacer"></div>
			<ul id="navitems-group2">
				<li id="nav-red" class="fore1" >
					<a target="_blank" href="http://red.jd.com/">闪购</a>
				</li>
				<li id="nav-tuan" class="fore2" >
					<a target="_blank" href="http://tuan.jd.com/">团购</a>
				</li>
				<li id="nav-auction" class="fore3" >
					<a target="_blank" href="http://auction.jd.com/">夺宝岛</a>
				</li>
				<li id="nav-jr" class="fore4" >
					<a target="_blank" href="http://jr.jd.com/">金融</a>
				</li>
			</ul>
		</div>
        <div id="treasure"></div>
        <span class="clr"></span>
    </div>
</div>