/*#footer*/
#footer-2014{
	border-top:1px solid #E5E5E5;
	padding:20px 0 30px;
	text-align:center;
	.links a{
		margin:0 10px;
	}
	.copyright{
		margin:10px 0;
	}
	.authentication{
		a{
			margin:0 5px;
			text-decoration:none;
		}
	}
}