<h2>广告banner p-banner</h2>

<div class="p-banner">
	<a href="#" target="_blank"><img src="http://img13.360buyimg.com/da/jfs/t988/59/967906556/22720/90235ab0/5562e5acN5a50c9ec.jpg" width="1210" height="80" ></a>
</div>