@import "../../css/lib.scss";
.activity{
	height:229px;
	padding:0 10px;
	margin-top:-12px;
	border:1px solid #e5e5e5;
	position:relative;
	.title{
		line-height: 34px;
		color:#666;
		font-size: 14px;
		border-bottom:1px solid #e5e5e5;
	}
	.details{
		margin-top:18px;
		color:#333;
		dl{
			line-height: 22px;
			@include clearfix;
			dt{
				float:left;
				width:72px;
				color:#999;
			}
			dd{
				overflow: hidden;
				zoom:1;
				a{
					display: block;
					float:left;
					width:65px;
					height:22px;
					margin-bottom: 19px;
					margin-right: 19px;
					line-height:22px;
					text-align: center;
					color:#666;
				}
				.all{
					width:44px;
					float: left;
				}
				.cur,a:hover{
					background:#e3393c;
					text-decoration: none;
					color:#fff;
					transition: 0.1s;
				}
				.tc{
					height:82px;
					overflow: hidden;
					zoom:1;
				}
			}
		}
	}
	.icon{
		width:77px;
		height:12px;
		display: none;
		position:absolute;
		bottom:-12px;
		left:50%;
		margin-left:-38px;
		background:url(i/cursor.gif) no-repeat center 0;
		cursor: pointer;
	}
	.icon_unfold{
		width:77px;
		height:12px;
		display: none;
		position:absolute;
		bottom:-12px;
		left:50%;
		margin-left:-38px;
		background:url(i/cursor.gif) no-repeat center bottom;
		cursor: pointer;
	}
}
.activity_more{
	.icon{
		display: block;
	}
	.icon_unfold{
		display: block;
	}
}

.activity-sorry{
	line-height:43px;
	background-color:#f5f5f5;
	color:#666;
	font-size:14px;
	font-family:$font-yahei;
	.icon{
		width:25px;
		height:25px;
		display: block;
		margin-top:10px;
		margin-left: 8px;
		float:left;
		margin-right:7px;
		background:url(/css/i/sorry.jpg) no-repeat 0 0;
	}
}