@import "../../css/lib.scss";
.posts-list{
	// width:770px;
	background:#fff;
	.tb-void{
		
		line-height: 22px;
		tbody tr:hover,tbody tr.hover{
			background: #fffbef;
			border:solid #f3e5bc;
			border-width:1px 0;
		}
		th{
			font-weight: normal;
			text-align:left;
			border:#e9eaec solid;
			border-width:1px 0;
			height:32px;
			line-height: 32px;
			padding:0 0 0 20px;
			a.curr{
				color:#333;
			}
		}
		.ar{
			text-align: right;
		}
		td{
			border-bottom:1px dotted #e9eaec;
			padding:10px 0  10px 20px;
		}
		a{
			color:$color05;
		}
		.posts-name{
			font-size:14px;
			width:360px;
			height:22px;
			line-height: 22px;
			overflow:hidden;
			word-break: break-all;
		}
		.posts-icon{
			@include inline-block;
			vertical-align: middle;
			padding:0 2px;
			height:16px;
			line-height: 16px;
			color:$color01;
			font-size:12px;
			border:1px solid $color01;
			@include r-corners(1px);
			margin-right:5px;
		}
		.tags{
			margin-top: 5px;
			// text-indent: 23px;
		}
		.user-name{
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			width: 100px;
		}
	}
}	