.ui-scrollbar{overflow:auto;}
.ui-scrollbar-bg,
.ui-scrollbar-item,
.ui-scrollbar-head,
.ui-scrollbar-head-max,
.ui-scrollbar-nail,
.ui-scrollbar-nail-max
{position:absolute;background:url(scrollbar.png);height:15px;background-position:0px 0px;}

.ui-scrollbar-nail{background-position:0px 1px;}
.ui-scrollbar-head-hover{background-position:-15px 0px;}
.ui-scrollbar-head-on{background-position:-30px 0px;}
.ui-scrollbar-nail{background-position:0px -15px;}
.ui-scrollbar-nail-hover{background-position:-15px -15px;}
.ui-scrollbar-nail-on{background-position:-30px -15px;}

.ui-scrollbar-head-max{background-position:0px -32px;}
.ui-scrollbar-head-max-hover{background-position:-15px -32px;}
.ui-scrollbar-head-max-on{background-position:-30px -32px;}
.ui-scrollbar-nail-max{background-position:0px -31px;}
.ui-scrollbar-nail-max-hover{background-position:-15px -31px;}
.ui-scrollbar-nail-max-on{background-position:-30px -31px;}

.ui-scrollbar-item{border:1px solid rgb(188, 188, 188);background-position:-45px 0;}
.ui-scrollbar-item-hover{background-position:-58px 0px;}
.ui-scrollbar-item-on{background-position:-71px 0px;}
.ui-scrollbar-bg{background-position:100% 0px;}