@import "../../ui-lib/1.0.0/ui-lib.scss";

/*nav*/
#nav-2014{
	height:44px;
	/*border-top:1px solid #DDD;*/
	border-bottom:2px solid #B1191A;
	_overflow:hidden;
	.w{
		.w-spacer{display:none;}
		position:relative;
		z-index:9;
		height:44px;
		/*  
		_overflow: hidden;
		_position: static;*/
	}
	.w-spacer{
		position:absolute;
		top:-1px;
		z-index:1;
		width:100%;
		height:44px;
		border-top:1px solid #DDD;
		border-bottom:2px solid #B1191A;
	}
}

/*#categorys-2014*/
#categorys-2014{
	float:left;
	position:relative;
	z-index:10;
	width:210px;
	height:44px;
	overflow:visible;
	.dt{
		a{
			display:block;
			width:190px;
			height:44px;
			padding:0 10px;
			background:#B1191A;
			font:400 15px/44px "microsoft yahei";
			color:#fff;
			text-decoration:none;
		}
	}
	.dd{
		height:466px;
		background:#c81623;
		margin-top:2px;
	}
	.dd-inner{
		.item{
			border-left: 1px solid #b61d1d;
			position:relative;
			z-index:1;
			height:31px;
			color:#fff;
			a{
				color:#fff;
			}
		}
		h3{
			position:absolute;
			z-index:2;
			height:31px;
			padding:0 10px;
			line-height:31px;
			font-family:"microsoft yahei";
			font-size:14px;
			font-weight:400;
		}
		i{
			position:absolute;
			z-index:1;
			top:9px;
			right:14px;
			width:4px;
			height:14px;
			font:400 9px/14px consolas;
		}
		.hover{
			background:#f7f7f7;
			color:#B61D1D;
			/*box-shadow:0 0 5px rgba(0, 0, 0, 0.5);*/
			a{
				color:#B61D1D;
			}
			i{
				top:0;
				left:205px;
				width:14px;
				height:31px;
				background:#f7f7f7;
				overflow:hidden;
				line-height:200px;	
			}
		}
	}

	.dorpdown-layer{
		display: none;
		position:absolute;
		left:209px;
		top:45px;
		width:779px;
		background:#f7f7f7;
		border:1px solid #b61d1d;
		overflow:hidden;
		/*box-shadow:0 0 5px rgba(0,0,0,.5);*/
		.hover {display:block;}
	}

	.item-sub{
		display: none;
		/*position: relative;*/
		@include clearfix;
		overflow: hidden;
	}

	.item-channels{
		float:left;
		display: inline;
		width:570px;
		height:24px;
		padding:20px 0 0 20px;
		background:#f7f7f7;
		overflow:hidden;
		// position: relative;
		a{
			float: left;
			display: inline;
			display:inline-block;*display:inline;*zoom:1;
			// position:relative;
			padding:0 0 0 8px;
			margin-right:10px;
			line-height: 24px;
			background:#7C7171;
			color:#fff;
			white-space: nowrap;
			&:hover{
				background:#C81623;
				i{ background:#B1191A;}
			}
		}
		i{	
			display: inline-block;
			*zoom:1;
			_display:inline;
			margin-left: 8px;
			width:23px;
			height:24px;
			font:400 9px/24px consolas;
			background: #5c5251;
			text-align: center;
			cursor: pointer;
		}
		.line{
			border-left: 1px solid #dbdbdb;
			display: inline;
			float: left;
			height: 24px;
			margin-right: 7px;
			width: 1px;
			overflow:hidden;
		}
		.img-link{
			background: none;
			line-height: normal;
			padding: 0;
		}
		.img-link:hover{
		  background: none;
		}
	}

	.subitems{
		float:left;
		width:570px;
		padding:6px 0 1006px 20px;
		margin-bottom:-1000px;
		background:#f7f7f7;
		min-height:409px;
		_height:409px;/*IE6*/
		_overflow:visible;/*IE6*/
		dl{
			&.fore1{
				dd{
					border-top:none;
				}
			}
			width:100%;
			overflow:hidden;
			line-height:2em;
		}
		dt{
			position:relative;
			float:left;
			width:54px;
			padding:8px 30px 0 0;
			text-align:right;
			font-weight:bold;
			i{
				position:absolute;
				top:13px;
				right:18px;
				width:4px;
				height:14px;
				font:400 9px/14px consolas;
			}
		}
		dd{
			float:left;
			width:480px;
			padding:6px 0;
			border-top:1px solid #eee;
			a{
				float:left;
				padding:0 8px;
				margin:4px 0;
				line-height:16px;
				height:16px;
				border-left:1px solid #e0e0e0;
				white-space:nowrap;
			}
		}
	}

	.item-brands{
		float:right;
		display: inline;
		width:168px;
		overflow:hidden;
		margin: 19px 20px 10px 0;
		.brands-inner{
			// margin:-1px 0 0 -1px;
		}
		a{
			float:left;
			display: inline;
			margin: 1px 0 0 1px;
		}
	}


	.item-promotions{
		float:right;
		display: inline;
		width:168px;
		margin-right: 20px;
		a{
			display:block;
			margin-bottom: 1px;
		}
	}

}



/*navitems-2014*/
#navitems-2014{
	float:left;
	position:relative;
	z-index:2;
	ul,li,a,.spacer{
		float:left;
	}
	.spacer{
		display:none;
	}
	a{
		height:44px;
		padding:0 20px;
		text-align:center;
		text-decoration:none;
		font:400 15px/44px "microsoft yahei";
		color: #333;
		&:hover{
			color:#C81623;
		}
	}
	.spacer{
		width:1px;
		height:24px;
		margin:10px 0 0;
		background:#DDD;
		overflow:hidden;
	}
}

/*treasure*/
#treasure{
	float:right;
}
.root61 {
	#categorys-2014{
		.item-channels{ width: 790px;}
		.dorpdown-layer{
			width: 999px;
		}
		.subitems { width:790px;
			dd{
				width: 620px;
			}
		}
	}
}

/* 彩票、旅行、充值、票务 分为2列 */
.root61 {
	#categorys-2014{
		.item-channels{ width: 790px;}
		.dorpdown-layer{
			width: 999px;
		}
		.subitems { width:790px;
			dd{
				width: 620px;
			}
		}
		.subitems-main1,.subitems-main2{ float: left; width: 365px; padding-right: 10px; margin-right: 10px; border-right: 1px solid #eee; margin-top: 8px;
			dd { width:275px;}
			.fore1,.fore8{
				margin-top: -5px;
				/*dt{ padding-top: 0; }*/
				dd{ /*padding-top: 0;*/ border-top: 0;}
			}
		}
		.subitems-main2{ border-right: 0;}
	}
}