.b {
  border: 1px solid #ccc;
  width: 100px;
  height: 100px; }

.keyframes {
  @-webkit-keyframes large {
    0% {
      background: red;
      -webkit-transform: scale(1); }

    25% {
      background: yellow;
      -webkit-transform: scale(0.9); }

    50% {
      background: blue;
      -webkit-transform: scale(1.2); }

    100% {
      background: green;
      -webkit-transform: scale(0.8); } }

  @-moz-keyframes large {
    0% {
      background: red;
      -moz-transform: scale(1); }

    25% {
      background: yellow;
      -moz-transform: scale(0.9); }

    50% {
      background: blue;
      -moz-transform: scale(1.2); }

    100% {
      background: green;
      -moz-transform: scale(0.8); } }

  @keyframes large {
    0% {
      background: red;
      transform: scale(1); }

    25% {
      background: yellow;
      transform: scale(0.9); }

    50% {
      background: blue;
      transform: scale(1.2); }

    100% {
      background: green;
      transform: scale(0.8); } }
 }

.transform {
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  transform: rotate(-4deg); }

.animation {
  -webkit-animation: large 6s infinite;
  -moz-animation: large 6s infinite;
  animation: large 6s infinite; }

.transition {
  -webkit-transition: width 5s ease-in-out, opacity 1s;
  -moz-transition: width 5s ease-in-out, opacity 1s;
  transition: width 5s ease-in-out, opacity 1s; }

.clearfix {
  display: inline-block;
  display: block; }
  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .clearfix {
    height: 1%; }
  * + html .clearfix {
    min-height: 1%; }

.inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.border-radius {
  -webkit-border-radius: 1px solid #ccc;
  -moz-border-radius: 1px solid #ccc;
  border-radius: 1px solid #ccc; }

.gradient-vertical {
  background-color: #f8f8f8;
  background-image: -moz-linear-gradient(top, #f8f8f8, #ebebeb);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f8f8f8), color-stop(1, #ebebeb));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#ebebeb', GradientType='0');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#ebebeb');
  background-image: linear-gradient(to bottom, #f8f8f8 0%, #ebebeb 100%); }

.box-shadow {
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5); }

.alpha {
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7; }

/* mediaMin */
@media screen and (min-width: 480) {
  #mytestDiv {
    text-align: center;
    font-size: 20px; } }

.root480 #mytestDiv {
  text-align: center;
  font-size: 20px; }

/* mediaMax */
@media screen and (max-width: 480) {
  #mytestDiv {
    text-align: center;
    font-size: 20px; } }

.root480 #mytestDiv {
  text-align: center;
  font-size: 20px; }

/* mediaMinMax */
@media screen and (min-width: 480) and (max-width: 960) {
  #mytestDiv {
    text-align: center;
    font-size: 20px; } }

.root480 #mytestDiv {
  text-align: center;
  font-size: 20px; }
