.ui-table-contaner {
  width: 800px; }

.ui-table {
  width: 100%;
  border: 1px solid #ddd;
  font-size: 12px;
  text-align: left; }
  .ui-table thead {
    background-color: #f7f7f7; }
    .ui-table thead tr {
      color: #666;
      font-weight: bold; }
  .ui-table th {
    padding: 8px 10px;
    text-align: left; }
  .ui-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd; }

.ui-table-noborder {
  border: 0;
  outline: 0; }

.ui-table-inbox {
  border: 0;
  outline: 0; }

.ui-table-intensify {
  border-top: 2px solid #999; }
