@import "../ui-lib/ui-lib";

.ui-button{
	@include inline-block;

	.ico{
		@include inline-block;
		width: 18px;
		height: 15px;
		background: url(ui-icon.png) no-repeat;
		margin-right: 5px;
		vertical-align: middle;
	}

}

